@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --border: #e2e8f0;
}

@layer base {
  body {
    background-color: white;
    color: #0f172a;
    margin: 0;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
}